@import '../../assets/scss/abstracts/variables';
@import '../../assets/scss/abstracts/mixin';

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }

  .card__side--back-1 {
    background-image: linear-gradient(
      to right bottom,
      $color-secondary-light,
      $color-secondary-dark
    );
  }

  .card__side--back-2 {
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    );
  }

  .card__side--back-3 {
    background-image: linear-gradient(
      to right bottom,
      $color-tertiary-light,
      $color-tertiary-dark
    );
  }

  .card__picture--1 {
    background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      ),
      url('../../assets/images/nat-5.jpg');
  }

  .card__picture--2 {
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      ),
      url('../../assets/images/nat-6.jpg');
  }

  .card__picture--3 {
    background-image: linear-gradient(
        to right bottom,
        $color-tertiary-light,
        $color-tertiary-dark
      ),
      url('../../assets/images/nat-7.jpg');
  }

  .card__heading-span--1 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 0.85),
      rgba($color-secondary-dark, 0.85)
    );
  }

  .card__heading-span--2 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.85),
      rgba($color-primary-dark, 0.85)
    );
  }

  .card__heading-span--3 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-tertiary-light, 0.85),
      rgba($color-tertiary-dark, 0.85)
    );
  }
}
